
html, body{
  height: 100%;
}

body{
  display: flex;
  flex-direction: column;
}

p{
  margin: 0;
}

header{
  background-color: lightblue;
  text-align: center;
  height: 100px;
}

main{
  background-color: lightgray;
  text-align: center;
  flex: 1;
}

footer{
  background-color: lightpink;
  text-align: center;
  height: 100px;
}
