
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    width: 500px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    
}


.item {
   
    border: 1px solid black;
    width: 50%;
    order: 1;
    padding: 10px;
}

.img{
    width: 100%;
    height: 100px;
    background-color: lightgray;
}

.item-1 {
    width: 100%;
    order: 0;
    padding: 10px;
    border: 1px solid black;
}

